<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^documentos/(.+) _admin/controller/uploads/documentos/$1
ErrorDocument 404 /BLAMEL/_admin/404.php
</IfModule>